h1 {
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #aaa;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 10vh 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  background-color: #550202;
  grid-column: full-start / full-end; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 10rem);
  justify-content: end;
  justify-items: center;
  gap: 1rem; }
  .nav__logo--img {
    width: 20rem;
    height: 15rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.8rem;
    color: whitesmoke;
    text-decoration: none; }

.banner {
  background-color: #490505;
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-items: center; }
  .banner__hero {
    background-color: rgba(73, 5, 5, 0.4);
    grid-column: 4 / 8;
    grid-row: 4 / 6;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .3rem;
    color: whitesmoke;
    transition: all .3s; }
  .banner__text {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    font-weight: 400; }
  .banner__btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem .9rem;
    border: 3px solid #ee8585;
    display: inline-block;
    font-size: 1.8rem;
    color: currentColor;
    background: #ee8585;
    transition: all .3s; }
  .banner__btn:hover {
    background: transparent;
    color: whitesmoke; }

.homes {
  background-color: #990606;
  grid-column: center-start /center-end; }

.services {
  background-color: #990606;
  grid-column: full-start / full-end; }

.testimonials {
  background-color: #dd6749;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #490505;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
