h1 {
  font-size: 2.4em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7; }

.container {
  display: grid;
  grid-template-rows: 10vh 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  background-color: rgba(238, 133, 133, 0.1);
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  grid-column: full-start / full-end;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2.5em;
  padding: 0 40px; }
  .header__logo {
    display: grid;
    justify-content: start;
    align-content: center; }
    .header__logo--img {
      height: 6rem;
      margin-left: 2rem;
      transition: all .2s; }
    .header__logo--img:hover {
      transform: scale(1.1); }
  .header__nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    align-content: center;
    grid-gap: 3rem;
    list-style: none; }
    .header__nav--link:link, .header__nav--link:visited {
      color: #af9a7d;
      text-decoration: none; }
    .header__nav--link-1:active {
      background-color: #ee8585; }
    .header__nav--link:hover {
      color: #990606; }
  .header__item {
    font-size: 1.8rem;
    font-weight: 700;
    transition: all .2s; }
  .header__item:hover {
    transform: scale(1.1); }

.banner {
  background-color: #490505;
  background-image: url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-items: center; }
  .banner__hero {
    background-color: rgba(73, 5, 5, 0.4);
    grid-column: 4 / 8;
    grid-row: 4 / 6;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .3rem;
    color: whitesmoke;
    transition: all .3s; }
  .banner__text {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    font-weight: 400; }
  .banner__btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem .9rem;
    border: 3px solid #ee8585;
    display: inline-block;
    font-size: 1.8rem;
    color: currentColor;
    background: #ee8585;
    transition: all .3s; }
  .banner__btn:hover {
    background: transparent;
    color: whitesmoke; }

.homes {
  grid-column: center-start /center-end;
  padding: 10rem 0;
  text-align: center; }

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 50px; }
  .card__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
    fill: #990606;
    transition: all .3s; }
  .card__icon:hover {
    transform: translateY(-1.2rem) scale(1.03); }
  .card__content {
    width: auto; }
  .card__heading-4 {
    font-size: 1.9rem;
    color: #ee8585; }
  .card__text {
    font-size: 1.7rem;
    font-weight: 300; }

.section-title {
  text-align: center;
  margin-bottom: 5rem; }

.title__text h2 {
  font-size: 2.5rem;
  letter-spacing: .5rem;
  text-transform: capitalize;
  color: #990606;
  font-weight: 700; }

.under-line {
  width: 7rem;
  height: .5rem;
  background-color: #ee8585;
  margin: 0 auto; }

.services {
  background-color: #990606;
  grid-column: full-start / full-end; }

.testimonials {
  background-color: #dd6749;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #490505;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
