.apartments{
    background-color: $tertiary-color;

    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start]repeat(8, [col-start]minmax(min-content, 14rem)[col-end])[center-end] 1fr[full-end];
}
.innner-container{
    grid-column: center-start / center-end;
    padding: $sections-padding;
    // text-align: center;
    margin-bottom: 3rem;
}
.inner-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 3rem;
}
.apartment{
    background-color: #fff;
    &__img{
        width: 100%;
    }
   &__title{
      background-color: $color-grey-dark-1;
      padding: 1.25rem;
      font-size: 1.6rem;
      text-align: center;
    //   margin: 1rem;
      color: $color-grey-dark-1;
      transform: translateY(-79%);
   }
   &__price{
       font-size: 1.2rem;
       text-align: center;
       color: $color-grey-dark-1;;
   }
   &__text{
       font-size: 1.6rem;
       text-align: center;
       margin: 1.1rem;
       font-weight: 300;
   }
}