.footer {
    background-color: $color-secondary-1;
    padding: 5rem;

    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start]repeat(8, [col-start]minmax(min-content, 14rem)[col-end])[center-end] 1fr[full-end];
    grid-gap: 3rem;

    &__content {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3rem;
    }

    &__card {
        color: $font-color-1;
    }

    &__logo--img {
        height: 17rem;
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 400;
        margin: 3rem;
    }

    &__copyright {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 3rem;
    }

    &__items {
        list-style: none;
        text-decoration: none;
        transition: all .3s;
    }

    &__underline {
        margin-bottom: 3rem;
        background: $font-color-1;
        width: 10rem;
    }

    &__item {
        font-size: 1.6rem;
        font-weight: 700;
        transition: all .3s;
        margin-bottom: 1.2rem;
        text-align: center;

        &--link:link,
        &--link:visited {
            color: $font-color-1;
            text-decoration: none;
        }
    }

    &__item:hover {
        transform: scale(1.1);
    }

    &__item--link {
        padding: 3rem;
    }

    &__header--text {
        font-size: 1.8rem;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__social--icons {
        text-align: center;
        transition: all .3s;
    }

    &__icon {
        width: 7rem;
        height: 7rem;
        display: inline-block;
        transition: all .3s;
        padding: 1.6rem;
        background-color: $font-color-1;
        border-radius: 50%;
        margin-left: 1rem;

        &--link {
            width: 4rem;
            height: 3rem;
            fill: $color-secondary-1;
        }
    }

    &__icon:hover {
        background-color: $color-secondary-1;
        color: $font-color-1;
        transform: translateY(-1.2rem) scale(1.03);
    }

    &__icon:hover &__icon--link {
        fill: $font-color-1;
    }
}