.properties-section {
    // background-color: $tertiary-color;
    padding: 5rem;

    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start]repeat(8, [col-start]minmax(min-content, 14rem)[col-end])[center-end] 1fr[full-end];
    grid-column-gap: 2rem;


    &__aside {
        // background-color: whitesmoke;
        grid-column: full-start / 3;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
        // justify-items: center;
        // grid-column-gap: 3rem;

    }

    .aside {
        &__card {
            border: .6px solid $color-grey-1;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__icon {
            width: 5rem;
            height: 5rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
            fill: $color-secondary;
            transition: all .3s;
        }

        &__icon:hover {
            transform: translateY(-1.01rem) scale(1.03);
        }

        &__text {
            border: .6px solid $color-grey-1;
            display: flex;
            justify-content: center;

            align-items: center;
        }

        &__text--head {
            font-size: 1rem;
            color: $color-secondary;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__main-section {
        // background-color: $color-grey-1;
        grid-column: 3 / full-end;

        display: grid;
        grid-template-columns: 40rem minmax(28rem, 1fr);
        // grid-template-rows: repeat(auto-fit, minmax(28rem, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }

    &__card-content {
        background-color: black;

        &--img {
            width: 100%;
        }
    }
}

.card-content {

    &__title {
        font-size: 1.8rem;
        text-transform: capitalize;
        color: $color-secondary;
    }
    &__text{
        margin-top: 2rem;
        font-size: 1.4rem;
        text-shadow: 1em;
    }
}