.testimonials{
    background-color: $color-grey-light-1;

    grid-column: center-start / center-end;
   
    &__container{
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}